#Data Types and Structures Questions

1.What are data structures, and why are they important ?

  - Data structures are specialized formats for organizing, storing, and accessing data in a computer, enabling efficient data management.

2. Explain the difference between mutable and immutable data types with examples ?

  - mutable data types allow their values to be modified after creation, while immutable data types cannot be changed once created.

3. What are the main differences between lists and tuples in Python ?

  - The main differences between lists and tuples in Python lie in their mutability, syntax, and use cases .

4. Describe how dictionaries store data ?

 - data is stored in a key:value format.

5. Why might you use a set instead of a list in Python ?

  - A key difference is that sets do not allow duplicate elements, while lists do. This uniqueness property of sets makes them ideal for scenarios like removing duplicates from a collection or checking for membership.

6. What is a string in Python, and how is it different from a list ?

  - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python ?

  - Tuples in Python ensure data integrity through their immutability.

8. What is a hash table, and how does it relate to dictionaries in Python ?

  - A hash table is a data structure that stores key-value pairs, where each key is unique and the values can be of any data type. It uses a hash function to compute the index for each key, determining its position within an array (the "hash table" itself). This allows for efficient data retrieval, insertion, and deletion, typically with an average time complexity of O(1).

9. Can lists contain different data types in Python ?

  - Yes, lists in Python can contain elements of different data types. A single list can hold a combination of integers, floats, strings, booleans, and even other data structures like lists, tuples, or dictionaries. This flexibility is a key feature of Python lists.

10. Explain why strings are immutable in Python ?

  - Strings are immutable in Python for reasons related to efficiency, safety, and design principles.

11. What advantages do dictionaries offer over lists for certain tasks ?

  - it is more efficient

12. Describe a scenario where using a tuple would be preferable over a list ?

  - Use a tuple if you need an immutable collection where the elements won't change after creation.

13. How do sets handle duplicate values in Python ?

  - Sets in Python are designed to store only unique elements. When a duplicate value is added to a set, it is automatically discarded, and only one instance of the value is retained. This behavior is a fundamental characteristic of sets, ensuring that they maintain a collection of distinct items.

14. How does the “in” keyword work differently for lists and dictionaries ?

  - dictionary values can be duplicated like a list

15.  Can you modify the elements of a tuple? Explain why or why not ?

  - No, you cannot directly modify the elements of a tuple in Python after it's been created

16. What is a nested dictionary, and give an example of its use case ?

  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries.

17.  Describe the time complexity of accessing elements in a dictionary

  - O(1) on average.

18. In what situations are lists preferred over dictionaries ?

  - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

  - dictionaries do not maintain any inherent order of the items based on when they were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - a dictionary offers significantly faster lookup of values based on unique keys compared to a list, which relies on numerical indices.

#Practical Questions

1. Write a code to create a string with your name and print it.

In [7]:
name = "Biraj"
print(name)

Biraj

2. Write a code to find the length of the string "Hello World" ?

In [ ]:
s =("hello world")
len(s)

11

3. Write a code to slice the first 3 characters from the string "Python Programming" ?

In [1]:
string = "Python Programming"
sliced_string = string[0:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [2]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [3]:
# Create a list with numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
numbers = [1, 2, 3, 4]

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
letters = ['a', 'b', 'c', 'd']

second_element = letters[1]

print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
numbers = [10, 20, 30, 40, 50]

numbers.reverse()

print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
my_tuple = (100, 200, 300)

print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
colors = ('red', 'green', 'blue', 'yellow')

second_to_last = colors[-2]

print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
numbers = (10, 20, 5, 15)

min_number = min(numbers)

print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
animals = ('dog', 'cat', 'rabbit')

index_of_cat = animals.index('cat')

print(index_of_cat)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ('apple', 'banana', 'cherry')

is_kiwi_in_tuple = 'kiwi' in fruits

print(is_kiwi_in_tuple)

False

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
my_set = ('a', 'b', 'c')

print(my_set)

('a', 'b', 'c')

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [20]:
my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
my_set = {1, 2, 3, 4}

my_set.remove(4)

print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2

print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [23]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1 & set2

print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
person = {"name": "Biraj Kalita",
    "age": 29,
    "city": "Guwahati, Assam"}

print(person)

{'name': 'Biraj Kalita', 'age': 29, 'city': 'Guwahati, Assam'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [27]:
person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [28]:
person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [29]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [30]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists.")
else:
    print("The key 'city' does not exist.")

The key 'city' exists.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [32]:
my_list = [1, 2, 3, 4]

my_tuple = ('apple', 'banana', 'Tomato')

my_dict = {'name': 'Virat Kohli', 'age': 35, 'city': 'Delhi'}

print("List:", my_list)

print("Tuple:", my_tuple)

print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('apple', 'banana', 'Tomato')
Dictionary: {'name': 'Virat Kohli', 'age': 35, 'city': 'Delhi'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [33]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[16, 25, 46, 68, 77]

28.  Write a code to create a list with strings and print the element at the third index.

In [35]:
my_list = ['apple', 'banana', 'Orrange', 'Tomato', 'berry']

print(my_list[3])

Tomato

29.  Write a code to combine two dictionaries into one and print the result.

In [36]:
dict1 = {'name': 'Biraj', 'age': 29}
dict2 = {'city': 'Guwahati', 'country': 'India', 'state': 'Assam'}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Biraj', 'age': 29, 'city': 'Guwahati', 'country': 'India', 'state': 'Assam'}

30. Write a code to convert a list of strings into a set.

In [39]:
my_list = ['tomatto', 'banana', 'cherry', 'tomatto']

my_set = set(my_list)

print(my_set)

{'cherry', 'tomatto', 'banana'}